$color-header: #6fc1f0;
$color-link: #474545;
$color-card-border: #beabab;
$color-text-black: #020202;
$color-text-white: #f2f2f2;
$color-favorites-bg: rgba(60, 41, 236, 0.8);

$header-height: 4em;
$favorites-height: calc(100% - #{$header-height});
$main-height: $favorites-height;

$header-width: 100%;
$favorites-width: 20%;
$main-width: calc(#{$header-width} - #{$favorites-width});
